@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Phien ban</b> 1.0
        </div>
        <strong>Copyright &copy; 2024 <a href="~/">Lê Văn Dũng</a>.</strong> All rights
        reserved.
    </footer>
}
